<h2>Baby Tanks <span class="wip">[WIP]</span></h2>
<p>
  <em>Baby Tanks</em> started as a group of friends trying to learn how to use the
  <a href="http://phaser.io/">Phaser</a> game engine. After using a random game jam
  theme generator to give us the theme "baby tanks", Tom Berg, TJ Jacobs, Tom Patterson,
  and I began work on our first physics-based game. Later TJ and I would continue
  to work on the game in an upcoming jam, adding newcomer Steve Pikelny to our roster.
</p>
<p>
  With <em>Baby Tanks</em>, I have been tasked with creating the art -- definitely
  not my strongest skill. However I contribute code when I'm not figuring out how
  to draw trees, and I've worked with Tom Berg on choosing and hooking up the music
  and various sound effects in the game.
</p>
<p>
  This game is not currently scheduled for release, but we would like to get it into
  a semi-playable state sometime in the near future.
</p>
<ul>
  <li>Playable Game: <a href="http://forkit.github.io/baby-tanks">forkit.github.io/baby-tanks</a></li>
  <li>Source Code: <a href="https://github.com/forkit/baby-tanks">github.com/forkit/baby-tanks</a></li>
</ul>
