<h2>&lt;it's a metaphor for death&gt;</h2>
<p>
  This game won the <a href="http://igdachicago.com/chicago-2013-game-jam/">2013 IGDA Chicago Game Jam</a>,
  and is one of my favorite works. Tom Berg, Kevin Folk, TJ Jacobs and I created
  this game over a 48-hour period. We used the <a href="http://craftyjs.com/">Crafty</a>
  JavaScript game engine for the final game.
</p>

<p>
  For this game I was once again the game designer and off-and-on coder. I hooked
  up sound & music, and worked on making the user experience as beginner-friendly
  as possible. I even added a bit of a hack that saved us from an embarrassing bug
  during our presentation when the player would occasionally spawn inside a wall.
</p>

<ul>
  <li>Playable Game: <a href="http://forkit-chigamejam2013.herokuapp.com">forkit-chigamejam2013.herokuapp.com</a></li>
  <li>Source Code: <a href="https://github.com/forkit/Chicago-Game-Jam-2013">github.com/forkit/Chicago-Game-Jam-2013</a></li>
</ul>
