<h2>Fantasy Football Legacy League <span class="wip">[WIP]</span></h2>
<p>
  The Fantasy Football Legacy League -- or #FFLegacy for the social media aficionado
  in each of us -- is a fantasy football league I started in 2014. I wanted to create
  a long-lasting league where owner history could be analyzed and referenced year
  after year.
</p>
<p>
  This year I've focused on collecting the data from Yahoo and making it accessible
  as CSVs for the other owners who don't know how to program (a majority). In the
  off-season I plan to throw together a website and provide basic analytics tools
  as requested by others in the league.
</p>
<ul>
  <li>Source Code: <a href="https://github.com/bergren2/fflegacy">github.com/bergren2/fflegacy</a></li>
</ul>
