<h2>Fork It!</h2>
<p>
  <em>Fork It!</em> was an entry to the first <a href="https://github.com/blog/1303-github-game-off">GitHub Game Off</a>,
  and our first non-scholarly foray into creating games. Sean Cusick, TJ Jacobs,
  Tom Patterson, and I got together to create this game. It's certainly not our best
  work, but the experience taught us a lot about making games and working as a team.
</p>
<p>
  My primary role on this project was the game designer -- I created the mechanics
  and premise for the game. I also worked on graphics and some level design. It was
  through this project that we learned the importance of sound. We used the <a href="http://craftyjs.com/">Crafty</a>
  JavaScript game engine.
</p>
<ul>
  <li>Playable Game: <a href="http://forkit.herokuapp.com/">forkit.herokuapp.com/</a></li>
  <li>Source Code: <a href="https://github.com/forkit/game-off-2012">github.com/forkit/game-off-2012</a></li>
</ul>
