<h2>My Hearthstone Collection <span class="wip">[WIP]</span></h2>
<p>
  I threw together this site to publicly display the <a href="http://us.battle.net/hearthstone/en/">Hearthstone</a>
  cards in my collection. I'm currently working on adding search functionality and
  might try to integrate with <a href="https://trackobot.com/">Track-o-Bot</a> at
  some point in the future.
</p>

<ul>
  <li>Site: <a href="https://apps.heymrbass.com/hearthstone">apps.heymrbass.com/hearthstone</a></li>
  <li>Source Code: <a href="https://github.com/bergren2/hearthstone">github.com/bergren2/hearthstone</a></li>
</ul>
