<h2>Hue Am I?</h2>
<p>
<em>Hue Am I?</em> started out as a color game idea Jason Shanmugham wanted to
  try building for a game jam. Together with Sean Cusick and featuring music by
  Tom Berg, we cranked out <em>Hue Am I?</em> using <a href="https://www.meteor.com/">Meteor</a>,
  <a href="http://cordova.apache.org/">Cordova</a>, and <a href="http://phonegap.com/">PhoneGap</a>.
</p>
<p>
  My primary role has been styling the app from mockups, device testing on iOS,
  and hooking up sound & music.
</p>

<ul>
  <li>Playable Game: <a href="http://hue-am-i.nextcapital.com:3000/">hue-am-i.nextcapital.com:3000</a></li>
</ul>
