---
title: Projects | heymrbass.com
---

<img src="images/dan.png" />

<h1>Projects</h1>

<p>
  Below are some of the projects I've worked on over the years, starting with
  the most recent. The projects with the "WIP" tag are currently being developed and are
  subject to change. There are additional projects featured on GitHub and 1GAM that
  are not listed on this page.
</p>

<ul>
  <li>GitHub: <a href="http://github.com/bergren2">bergren2</a></li>
  <li>1GAM: <a href="http://www.onegameamonth.com/HeyMrBass">HeyMrBass</a></li>
  <%# <li>itch.io: <a href="http://bergren2.itch.io/">bergren2</a></li> %>
</ul>

<% ["hue", "fflegacy", "baby_tanks", "death", "fork_it"].each do |p| %>
  <hr />
  <%= partial p %>
<% end %>
